*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    overflow: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}
.logo{
    position: relative;
    font-size: 2em;
    color: #bca898;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}
.nav{
    position: relative;
    display: flex;
}
.nav li{
   list-style: none;
}
.nav li a{
    display: inline-block;
    color: #bca898;
    margin-right: 40px;
    padding: 5px;
    transition: 1s;
    text-decoration: none;
}
.nav li a:hover{
    border: 2px solid #8B6C2D;
}
.Active{
    border: 2px solid #8B6C2D;
}
.content{
    height: 100vh;
    width: 50%;
    background: #61543E;
}
.content h1{
    position: relative;
    top: 30%;
    left: 30%;
    color: #bca898;
    font-size: 3em;
}
.img{
    width: 50%;
    height: 100vh;
    background: #2F3D33;
}
.para{
    height: auto;
    position: relative;
    width: 250px;
    left: 0;
    bottom: -400px;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 10px;
}
.img img{
    width: auto;
    height: 500px;
    position: absolute;
    top: 150px;
    left: 620px;

}
.para h4{
    position: relative;
    font-size: 15px;
    left: 150px;
    color: #bca898;
    padding: 5px;
}
.para p{
    position: relative;
    font-size: 15px;
    left: 150px;
    color: #bca898;
}
.img h1{
    font-size: 10em;
    color: #3a4b3fe1;
}
.para1{
    height: auto;
    position:absolute;
    width: 250px;
    right: 0;
    bottom: 155px;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 10px;
}
.para1 h4{
    position: relative;
    font-size: 15px;
    right: 50px;
    color: #bca898;
}
.para1 p{
    position: relative;
    font-size: 15px;
    right: 50px;
    color: #bca898;
}